extends ./layoutsogamoso.jade
block contenido 
 .coreccion
  img(src="public/imagenes/img/pensamiento-comidas1.jpg" style="width: 100%; border-bottom: 10px solid black " )  
  ul.nav.nav-tabs.nav-justified
    li.li(role='presentation')
      a.divi(href=' #Pizza' style="color:#000000;") Parques
    li.li(role='presentation')
      a.divi(href='#almuerzo' style="color:#000000;") Centros culturales
    li.li(role='presentation')
      a.divi(href='#cafeteias' style="color:#000000;") Museos
    li.li(role='presentation')
      a.divi(href='#empanadas' style="color:#000000;") Deportes
    li.li(role='presentation')
      a.divi(href='#heladerias' style="color:#000000;") Recreacion familiar
  div(class="risponsive")
   div(class="izquierda"  align="left")
    #pizza.divicion 
        section(class="luxzar") 
          div
            h2 Parques
            section(class="center")
                 for imagen in imagenes
                    if imagen.foto == 'normal'
                      if imagen.creator. gremio == "entretenimiento"
                        if imagen.uso == 'Parques'
                          div                
                           if imagen.creator.ciudad == "sogamoso" 
                             a(href="/iniciado/#{imagen.creator.username}/#{imagen.creator._id}")
                               img(src="public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img" alt="#{imagen.creator.username}" title="#{imagen.creator.username}")
            
    #almuerzo.divicion
        section(class="luxzar") 
          div
            h2 Centros culturales
            section(class="center")
                 for imagen in imagenes
                    if imagen.foto == 'normal'
                      if imagen.creator. gremio == "entretenimiento"
                        if imagen.uso == 'Centrosculturales'
                         if imagen.creator.ciudad == "sogamoso"
                          div
                             a(href="/iniciado/#{imagen.creator.username}/#{imagen.creator._id}")
                                 img(src="public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img" alt="#{imagen.creator.username}" title="#{imagen.creator.username}")

    #cafeteias.divicion
        section(class="luxzar") 
          div
            h2 Museos
            section(class="center")
                 for imagen in imagenes
                    if imagen.foto == 'normal'
                      if imagen.creator. gremio == "entretenimiento"
                        if imagen.uso == 'Museos'
                         if imagen.creator.ciudad == "sogamoso"
                          div
                             a(href="/iniciado/#{imagen.creator.username}/#{imagen.creator._id}")
                                 img(src="public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img" alt="#{imagen.creator.username}" title="#{imagen.creator.username}")
    #empanadas.divicion   
        section(class="luxzar") 
          div
            h2 Deportes
            section(class="center")
                 for imagen in imagenes
                    if imagen.foto == 'normal'
                      if imagen.creator. gremio == "entretenimiento"
                        if imagen.uso == 'Deportes'
                          if imagen.creator.ciudad == "sogamoso"
                            div
                             a(href="/iniciado/#{imagen.creator.username}/#{imagen.creator._id}")
                                 img(src="public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img" alt="#{imagen.creator.username}" title="#{imagen.creator.username}")
    #heladerias.divicion   
        section(class="luxzar") 
          div
            h2 Recreacion familiar
            section(class="center")
                 for imagen in imagenes
                    if imagen.foto == 'normal'
                      if imagen.creator. gremio == "entretenimiento"
                        if imagen.uso == 'RecreacioF'
                          if imagen.creator.ciudad == "sogamoso" 
                            div
                             a(href="/iniciado/#{imagen.creator.username}/#{imagen.creator._id}")
                                 img(src="public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img" alt="#{imagen.creator.username}" title="#{imagen.creator.username}")
   div(class="derecha" align="center")
    #Pizza
      h2(class="titulom") Muralla  
       .margenduitama
                  .div
                    section(class="ciudades" style="overflow-x:hidden; overflow-y:scroll; height: 1400px " )
                        for imagen in imagenes
                          if imagen.foto == 'promocion'
                               if imagen.creator. gremio == "entretenimiento"
                                if imagen.creator.ciudad == "sogamoso"
                                  div
                                      h2 #{imagen.title}
                                      a(href="/iniciado/#{imagen.creator.username}/#{imagen.creator._id}"  class="ordenado")
                                          img(src="public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img" alt="#{imagen.creator.username}" title="#{imagen.creator.username}")
                                        p precio $: 
                                            span(class="formu") #{imagen.title}
                                        p DIRECCION : 
                                            span(class="formu") #{imagen.creator.dir}
                                      a(href="/app/imagenes/#{imagen._id}/envio") 
                                          label Realizar tu pedido

    script(type='text/javascript' src='/public/js/jquery.min.v1.js')

    script(type='text/javascript' src='./public/slick/slick.min.js')
    script(type='text/javascript').
        $(document).on('ready', function() {
        $ ( '.center' ) . slick ( {
        centerMode :  true ,
        centerPadding :  '60px' ,
        slidesToShow :  3 ,
        responsive :  [
        {
        breakpoint :  768 ,
        settings :  {
        arrows :  false ,
        centerMode :  true ,
        centerPadding :  '40px' ,
        slidesToShow :  3
        }
        } ,
        {
        breakpoint :  480 ,
        settings :  {
        arrows :  false ,
        centerMode :  true ,
        centerPadding :  '40px' ,
        slidesToShow :  1
        }
        }
        ]
        } ) ;
        $('.one-time').slick({
        dots: true,
        infinite: true,
        speed: 900,
        slidesToShow: 1,
        adaptiveHeight: true,
        fade:true,
        autoplay: true,
        autoplaySpeed: 2500,
        });
        });